.full-width {
    width: 100%;
    margin: 10px 0;
}

.auth-form {
    margin-top: 20px;
}

.success-block {
    padding: 15px;
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
}
.redirect-button {
    margin-top: 20px;
}